<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/php/bootstrap.php"
         colors="true"
         failOnWarning="false"
         failOnDeprecation="false">
  <coverage>
    <report>
      <clover outputFile="build/coverage-php/clover.xml"/>
      <text outputFile="build/coverage-php/coverage.txt" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="SCBD Field PHP Tests">
      <directory>tests/php</directory>
    </testsuite>
  </testsuites>
</phpunit>
